# PostgreSQL Database
POSTGRES_USER=devpulse_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=devpulse_db
DATABASE_URL=postgresql://devpulse_user:supersecretpassword@localhost:5432/devpulse_db?schema=public

# Redis
REDIS_URL=redis://localhost:6379


JWT_SECRET=your-super-secret-key-change-in-production-min-32-chars
JWT_EXPIRES_IN=7d

# API URLs
DEVPULSE_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1