@import 'tailwindcss';

@theme {
  --font-inter: var(--font-inter, sans-serif);
  --font-martian: var(--font-martian, monospace);
  --font-supply: ui-monospace, SFMono-Regular, monospace;

  /* Нейтральные (База) */
  --color-neutral-100: #ffffff; /* White */
  --color-neutral-200: #d0d0da; /* Light telegray */
  --color-neutral-300: #b3b3c5; /* Very light magenta blue */
  --color-neutral-400: #96969d; /* Mother-of-pearl light gray */
  --color-neutral-600: #5b5b65; /* Marengo */
  --color-neutral-700: #424141; /* Platinum Gray */
  --color-neutral-800: #3d464d; /* Space */
  --color-neutral-900: #0f0f13; /* Very dark gray */
  --color-neutral-950: #000000; /* Black */

  /* Зеленые (Успех, Активность) */
  --color-green-spring: #15ffab;
  --color-green-cyan: #00fff0;
  --color-green-turquoise: #56efc3;
  --color-green-thrush: #00cec9;
  --color-green-persian: #01b894;
  --color-green-malachite: #2acf56;
  --color-green-screaming: #77ff60;

  /* Синие и Фиолетовые (Бренд, Акценты) */
  --color-blue-frosty: #0ac5ef;
  --color-blue-azure: #1796ec;
  --color-blue-aqua: #0a84e3;
  --color-blue-electric: #3a86fe;

  --color-purple-aspid: #6d5ce8;
  --color-purple-blue: #8338ec;
  --color-purple-amethyst: #6741b1;
  --color-purple-dark: #5214a9;
  --color-purple-magenta: #db03f2;

  /* Красные, Оранжевые, Желтые (Ошибки, Статус) */
  --color-red-fluor: #e90703;
  --color-red-coral: #ff3c3c;

  --color-pink-deep: #ff006e;
  --color-pink-cherry: #e43a8d;
  --color-pink-french: #f0337f;

  --color-orange-signal: #fa5607;
  --color-orange-yellow: #e96e12;

  --color-yellow-amber: #ffbe0c;
  --color-yellow-laser: #fffc00;
}

@layer utilities {
  .h4 {
    @apply font-inter font-bold text-2xl leading-4 tracking-[-0.9%];
  }
  .h5 {
    @apply font-martian font-medium text-2xl leading-[34.6px] tracking-[0%];
  }
  .h6 {
    @apply font-martian font-medium text-2xl leading-8.5 tracking-[-3%];
  }

  .body1 {
    @apply font-inter font-normal text-sm leading-4 tracking-[-0.9%];
  }

  .body2 {
    @apply font-inter font-bold text-sm leading-4 tracking-[-0.9%];
  }

  .desc {
    @apply font-inter font-normal text-xs leading-7 tracking-[-0.9%];
  }
  .indicator {
    @apply font-inter font-bold text-xs leading-7 tracking-[-0.9%];
  }

  .title1 {
    @apply font-supply font-normal text-xl leading-[100%] tracking-[-5%];
  }
  .title2 {
    @apply font-inter font-bold text-base leading-7 tracking-[-0.9%];
  }
  .title3 {
    @apply font-supply font-normal text-base leading-[100%] tracking-[-5%];
  }
  .title4 {
    @apply font-inter font-semibold text-base leading-4 tracking-[-0.9%];
  }

  .custom {
    @apply font-inter font-normal text-sm leading-4 tracking-[0%];
  }
  .details {
    @apply font-supply font-normal text-xs leading-[100%] tracking-[0%];
  }
  .mini {
    @apply font-inter font-semibold text-[9px] leading-[100%] tracking-[6%] uppercase;
  }
}

@layer base {
  body {
    background-color: var(--color-neutral-950);
    color: var(--color-neutral-100);
  }
}
